body {
  background-image:url(img/fundo.jpg)
}

header {
  text-align: center; 
  font-size: 2em; 
  margin: 20px 0; 
  color: #af8b28;
}

section {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px; 
}

div {
  margin-bottom: 40px; 
}

iframe {
  width: 480px; 
  height: 270px; 
  margin-bottom: 10px; 
  aspect-ratio: 16/9;
}

@media (max-width: 600px) {
  iframe {
    width: 100%; 
    height: auto; 
  }
}

/* Estilos para telas pequenas */
@media (max-width: 768px) {
  body {
      font-size: 16px;
  }
  .container {
      width: 100%;
  }
}

/* Estilos para telas grandes */
@media (min-width: 769px) {
  body {
      font-size: 18px;
  }
  .container {
      width: 80%;
  }
}

@media (max-width: 768px) {
  .Filme-container, .Infantil-container {
      padding: 20px;
  }
}
  

h1 {
  text-align: center; 
  margin: 20px 0; 
  font-size: 1.5em; 
  color: #5f500f; 
}

h3 {
  color: #473e14;
}

p {
  color: #3a320f; 
}

h3, p {
  margin: 0;
}

/* Estilos da sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  z-index: 1; /* Define a camada da sidebar */
}


.icon {
  margin: 15px 0;                       
  text-decoration: none;                
}

.icon img {
  width: 30px;                          
  height: 30px;                         
  filter: grayscale(0);                 
  transition: filter 0.3s;    
}          

.icon:hover img {
  filter: grayscale(0);                 
}
.highlight {
  background-color: #eab525;
  color: #624C10;
  padding: 2px 4px;
  border-radius: 8px;
}

.highlight2{
  background-color: #ea8425;
  color: #623c10;
  padding: 2px 4px;
  border-radius: 3px;
}

.highlight3{
  background-color: #74b45b;
  color: #3c5e21;
  padding: 2px 4px;
  border-radius: 3px;
}

.highlight4{
  background-color: #b45ba1;
  color: #5e214a;
  padding: 2px 4px;
  border-radius: 3px;
}

.sidebar img{
  width: 35px;
  height: 35px;
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; 
  overflow: hidden;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0.7;
  animation: fall 4s linear forwards;
  transform: rotate(45deg);
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.video-container {
  display: flex;               
  justify-content: space-around; 
  margin:  70px;       /* Ajuste do bagulho pra ficar longe de sidebar */        
}

.video {
  flex: 0 1 45%;              
  margin: 20px; /* Ajuste o espaço interno meio deles */
}

.video iframe {
  width: 480px; 
  height: 270px;          
}

.video-item {
  flex: 0 1 45%; 
  margin: 20px; /* Ajuste o espaço interno meio deles */
  text-align: center;
}

.video-item iframe {
  width: 480px; 
  height: 270px;          
}

.Filme-container, .Infantil-container {
  margin: 0 auto;          
  max-width: 1000px;        
  padding: 100px;         
}

.Filme-items, .Infantil-items {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
}


.Filme-item, .Infantil-item {
  flex: 0 1 45%; 
  margin-bottom: 20px;     
  text-align: center;
}

.Filme-item iframe, .Infantil-item iframe {
  width: 480px;             
  height: 270px;           
}

body {
  padding-left: 100px;      
}

.footer {
  text-align: center; /* Centraliza o texto */
  background-color: transparent ;/* Cor de fundo do footer */
  padding: 10px 0; /* Espaçamento acima e abaixo do texto */
  margin: 0; /* Remove margens padrão do parágrafo */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}

/* Esconde a sidebar deslocando-a para fora da tela */
.sidebar.hidden {
  transform: translateX(-100%);
}

/* Ícone de "esconder" fixo no canto superior esquerdo da tela */
#toggleIcon {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10; /* Ícone acima da sidebar */
  cursor: pointer;
}